Body{
    width: 100%;
}

.Tablica{
    margin: 10px;
    /*padding: 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
td{padding: 10px 0px 10px 5%;}

body{
    font-family:'futura';
    background-color: #EBE7DE;
    align-items: center;
    justify-content: center;
}

.ritz .waffle .s0{
    background-color:#EBE7DE;
    text-align:left;
    color:#5362E5;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 100;
    width: 160px;
    /*line-height: 80%;*/
    font-size:14pt;
    vertical-align:bottom;
    white-space:nowrap;
    border: 1px dashed  #E0E0E0;
    /*direction:ltr;*/
    /*padding:1px 1px 1px 1px;}*/}
.ritz .waffle .s0:hover{
    color: #000000;
}

.Irregular{
    display: flex;
    justify-content: center;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    color: #2945FF;
}

.Irregularh2{
    display: flex;
    justify-content: center;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 85px;
    color: #FFFFff;
}
.Irrh2{
    padding: 0px 95px 0px 0px;
}
.logo{
    width: 100px;
}
.menubar{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 91px;
    margin-top: 30px;
   margin-bottom: 30px;
}
.menubarposition{
    width: 100%;
    display: flex;
    position: center;
    align-items: center;
    justify-content: center;
}


.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: #EBE7DE;
}
.pmenubar{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #2945FF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #EBE7DE;
    background-color: #5362E5;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {display: block;}
